@model LWTechTaskTimeTracker.Models.Category

@{
    ViewData["Title"] = "Create";
}
<div class="btn-block">
    <h1 class="display-4">Create Category</h1>
</div>

<hr />
<div class="row">
    <div class="col-lg-4 col-md-12">
        <img src="https://img.icons8.com/clouds/2x/survey.png" class="img-rounded" alt="Cinque Terre">

    </div>
    <div class="col-lg-8 col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
