@model LWTechTaskTimeTracker.Models.Category

@{ ViewData["Title"] = "Edit a category"; }
<div class="btn-block">
    <h1 class="display-4">Edit Category</h1>
</div>

<hr />
<div class="row">
    <div class="col-lg-3 col-md-12">
        <i class="bi bi-pencil-square iconAling"></i>
    </div>
    <div class="col-lg-4 col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" type="color" name="Color" id="Color" class="form-control" value="#8CA4CF" aria-invalid="false">
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <hr />
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
