@model LWTechTaskTimeTracker.Models.CompletedTask

@{
    ViewData["Title"] = "Edit task";
}

<div class="btn-block">
    <h1 class="display-4">Mark Completed</h1>
</div>

<hr />
<div class="row">
    <div class="col-lg-3 col-md-12">
        <i class="bi bi-journal-check iconAling"></i>
    </div>
    <div class="col-lg-4 col-md-12">
        <form class="form-check" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateTime" class="control-label"></label>
                <input asp-for="dateTime" class="form-control" />
                <span asp-validation-for="dateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
        <hr />
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

    

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
