@model IEnumerable<LWTechTaskTimeTracker.Models.CompletedTask>

@{
  
    ViewData["Title"] = "History";
}


<div class="text-center">
    <div class="btn-block">
        <h1 class="display-4">Tasks History</h1>
    </div>

    <table class="table">

        @{
            var completed = 0;
            var notCompleted = 0;
            foreach (var item in Model)
            {
                if (item.IsActive)
                {

                    completed++;

                }
                else if (!item.IsActive)
                {
                    notCompleted++;
                }
            }
            if (completed == 0 && notCompleted == 0)
            {
                <tr>
                    <td>
                        <h3>You dont have any tasks log yet</h3>
                        <div class="btn-block">
                            <h3>
                                <a asp-area="" asp-controller="CompletedTasks" asp-action="Create">Create a new Task</a>
                            </h3>
                        </div>
                    </td>
                </tr>

            }
            else
            {
                <canvas id="myChart"></canvas>

                @section Scripts{

                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                    <script type="text/javascript">

                    var ctx = document.getElementById('myChart').getContext('2d');
                    var chart = new Chart(ctx, {
                        type: 'pie',
                        data: {

                        labels: [ 'Completed','Not Completed'],
                        datasets: [{
                          label: 'My First dataset',
                            backgroundColor: ['#C5DABE', '#8CA4CF'],
                            borderColor: ['#C5DABE', '#8CA4CF',],
                            data: [@completed, @notCompleted]
                        }]
                        },
                    }

                    );

                    </script>
                }
            }
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
            
        }

    </table>
   
      
      
</div>