/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --nyanza: #E4F0D0;
    --slate-gray: #738290;
    --wild-blue: #8CA4CF;
    --floral-white: #FFFCF7;
    --tea-green: #C5DABE;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #738290;
}
.bg-wild-blue {
    background-color: #8CA4CF !important;
}
.bg-nyanza {
    background-color: #E4F0D0 !important;
}
.bg-tea-green {
    background-color: #C5DABE !important;
}
.bg-floral-white {
    background-color: #FFFCF7 !important;
}
.bg-slate-gray: {
    background-color: #738290 !important;
}
.btn-primary {
    color: #FFFCF7;
    background-color: #8CA4CF;
    border-color: #8CA4CF;
}
    .btn-primary:hover {
        color: #FFFCF7;
        background-color: #738290;
        border-color: #738290;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* OTher css
    ----------------------------------*/
.iconAling::before {
    vertical-align: inherit;
    font-size: 250px;
    color: #8CA4CF;
}

.iconTrash::before {
    vertical-align: inherit;
    font-size: 250px;
    color: #c5dabe;
}
    /* Sticky footer styles
-------------------------------------------------- */
    html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 45px; /* Vertically center the text there */
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}
