@{
    ViewData["Title"] = "Home Page";
}

<div class="btn-block">
    <h1 class="display-4">Welcome to Task Time Tracker</h1>
</div>
<div class="container text-center">
    


    <br >
    <div class=" row">
        <div class="col-sm-6">
            <a class="text-dark" asp-area="" asp-controller="CompletedTasks" asp-action="Index">
                <div class=" jumbotron bg-tea-green">
                    <i class="bi bi-list-check" style="font-size: 6rem"></i>
                    <h2>    Add task to complete</h2>
                </div>
            </a>

            <a class="text-dark" asp-area="" asp-controller="CompletedTasks" asp-action="History">
                <div class=" jumbotron bg-wild-blue">
                    <i class="bi bi-file-earmark-bar-graph" style="font-size: 6rem"></i>
                    <h2>  Track your history</h2>
                </div>
            </a>
        </div>

        <div class="col-sm-6">

            <a class="text-dark" asp-area="" asp-controller="Categories" asp-action="Index">
                <div class=" jumbotron bg-wild-blue">
                    <i class="bi bi-tag" style="font-size: 6rem"></i>
                    <h2>  Add new category</h2>

                </div>
            </a>

            <a class="text-dark" asp-area="" asp-controller="ReminderMessages" asp-action="Index">
                <div class=" jumbotron bg-tea-green">
                    <i class="bi bi-bell" style="font-size: 6rem"></i>
                    <h2> Reminder messages</h2>
                </div>
            </a>
        </div>


    </div>
</div>

